*{
  margin: 0;
  padding: 0;
  font-family : SourceCodePro, sans-serif;
  box-sizing : border-box;
}
body{ 
  background : #2a2a2f;
  width: 100%;
  height: 375%;
  color: #ffffff;
  border-color: #ffffff;
}
#header{
  width: 100%;
  height: 100vh;
}
.container{
  padding: 10px 10%;
  color: #ff55ff;
  font-size: 24;
}
nav{
  align-items: right;
}
nav ul li{
  display: inline-block;
  padding: 10px 10px;
  list-style: none;
  margin: 100px 100px;
}
nav ul li a{
  color: #dddddd;
  text-decoration: none;
}
nav ul li a:hover{
  color: #999999;
}
.Home{
  background: #1f1f1f;
  background-clip: padding-box;
  width: 100%;
  height: 80%;
  border: 5px 5px;
  border-style: solid;
  border-color: #bbbbbb;
}
h1{
  color: #b0b0ff;
  text-align: center;
  margin-top: 30px;
  padding-top: 30px;
}
.Home h3{
  color: #b0b0ff;
  text-align: center;
}
.Home img{
  height: 650px;
  width: 375px;
  margin-right: 200px;
  margin-left: 100px;
  border-color: #b0b0ff;
  border-width: 5px 5px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify content: center;
  float: right;
}
.Home p{
  text-align: center;
  margin: 150px 150px;
  font-size: 20px;
  color: #ffffff;
}
.Qualifications{
  background-image: url("qual.png");
  width: 1920px;
  height: 1080px;
  border-color: #bbbbbb
  border: 5px 5px;
  border-style: solid;
  margin-top: 60px;
}
ul li{
  list-style-type: circle;
  padding: 5px 5px;
  margin-left: 100px;
  margin-top: 35px;
  font-size: 20px;
  list-style-type: square;
  color: #11eec0;
}
.NewProjects{
  background: #222222;
  height: 45%;
  border-style: solid;
  border: 5px 5px;
  margin-top: 60px;
}
.NewProjects ul li{
  color: #ffc9f0;
}
.Contact{
  background: #121123;
  height: 40%;
  border-style: solid;
  border: 5px 5px;
  margin-top: 60px;
  margin-bottom: 200px;
}
